*{
  font-family: "Overpass", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*main colours used by the system*/
:root {
  --main-yellow: #f1ac44;
  --main-yellow-hover: #f1bc6c;
  --lighter-yellow: #fff700;
  --main-black: #000000;
  --main-white: #fff;
  --text-grey: #9c9da3;
  --backgroung-grey: #ddd;
  --border-colour: #dddddda2;
}

/*web header*/
.web_header{
  position: fixed;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 900; 
  color: white;
}


.header_content{
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 2%;
  flex-wrap: wrap; 
}

.navMenu{
  display: flex;
  gap: 10px;
}

.navMenu a{
  padding: 5px;
  font-weight: 300;
  text-decoration: none;
  color: #ffffffb1;
  transition: color 0.2s ease;
}

.navMenu a:hover{
  color: var(--main-white);
}

/*When the window is small enough, only the hamburger btn will be visible and once the user clicks on it the menu will be active*/
.navMenu.active {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #ffffff0f;
  backdrop-filter: blur(5px);
  position: absolute;
  top: 70px;
  right: 0;
  width: 100%;
  max-width: 200px;
  height: 100vw;
  padding: 20px;
  z-index: 1000;
  border-radius: 0 0 15px 15px;
  transition: transform 0.5s ease;
}

.navMenu.active .header_nav {
  color: var(--main-white);
}

/*hide the hamburger btn by default*/
.menu-toggle{
  display: none;
}

.VisitUsButton{
  color: var(--main-white);
  background-color: var(--main-black);
  padding: 10px 40px;
  border-radius: 25px;
  font-weight: bold;
  border: 0;
  transition: all 0.3s ease;
}

.VisitUsButton:hover{
  background-color: var(--main-yellow);
  color: var(--main-black);
  cursor: pointer;
}
.columnItems{
  column-count:3
}

/*dropdown container*/
.navDropdown {
  position: relative;
  display: inline-flex; 
  align-items: center;
}

/*dropdown content*/
.navDropdown .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border-radius: 20px;
  min-width: 200px;
  z-index: 500;
  flex-direction: column;
  padding: 20px;
  transform: translateX(-50%);
}

.navDropdown .dropdown-content a {
  display: block;
  padding: 10px 15px;
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  border-radius: 20px;
  width: auto;
  height: auto;
  justify-content: space-between;
}

.dropdown-content .bi, .dropdown-content .fa-solid, .dropdown-content .fa-regular{
  font-size: 18px;
  margin-right: 20px;
  width: 20px;
  color: var(--main-yellow);
}

.dropdown-content a .chevron {
  margin-left: 120px;
  margin-right: 0;
  position: relative;
  transform: translateX(-400%);      
  opacity: 0;          
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.dropdown-content a:hover .chevron {
  transform: translateX(0);            
  opacity: 1;         
}

.navDropdown .dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 5px;

}

/*show dropdown on hover or on click*/
.navDropdown:hover .dropdown-content {
  display: flex;
}

.navDropdown .dropdown-content.show {
  display: flex;
}

/*rotate chevron 180 degrees on hover*/
.navDropdown .fa-chevron-down {
  transition: transform 0.2s ease;
}

.navDropdown:hover .fa-chevron-down {
  transform: rotate(-180deg);
}

/*for smaller screens, responsive to window adjustment*/
@media (max-width: 850px) {
.navMenu {
  display: none;
}

.menu-toggle {
  display: block; 
  font-size: 24px;
  cursor: pointer;
}
}


/*styling for social btns*/
.nav_bar .social-icons {
  display: flex;
  gap: 12px;
}

.nav_bar .social-icons a {
  position: relative;
  overflow: hidden;          
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: 2px solid var(--main-white);
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.5s ease;
}

.nav_bar .social-icons i {
  position: absolute;
  font-size: 20px;
  transition: transform 0.5s ease;
}

/*Cool hover transition, white icon slides to left on hover and black icon slides into frame*/
.nav_bar .social-icons .front {
  color: white;
  transform: translateX(0);
  font-size: 15px;
  transition: transform 0.5s ease;
}


.nav_bar .social-icons .back {
  color: white;
  font-size: 15px;
  transform: translateX(200%);
  transition: transform 0.5s ease;
}

.nav_bar  .social-icons a:hover .front {
  transform: translateX(-200%);
  transition: transform 0.5s ease;

}

.nav_bar .social-icons a:hover .back {
  transform: translateX(0);
  transition: transform 0.5s ease;
}

.nav_bar .social-icons .fb-link:hover {
  background: #0668fd;
  border-color: #0668fd;
  color: white;
  transition: background 0.5s ease;
}

.nav_bar .social-icons .yt-link:hover {
  background: #f80037;
  border-color: #f80037;
  color: white;
  transition: background 0.5s ease;
}

.nav_bar .social-icons .ig-link:hover {
  background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
  border-color: #ee2a7c27;
  color: white;
  transition: background 0.5s ease;
}

/*Stylings of header content when the 'active style' of the header is active*/
/*apply active style when not at tip top of the page*/
.web_header.active{
  top: 10px !important;
  background-color: #d3d3d325 !important;
  backdrop-filter: blur(10px) !important;
  border-radius: 50px !important;
  border: 1px solid #ffffff5e !important;
  transition: transform 0.3s ease !important;
  width: 80% !important;
  left: 10% !important;
  transform: translateX(-50%) ;
}

.web_header.active .social-icons .front{
  color: var(--main-black);
}

.web_header.active  .icon:hover {
  background: var(--main-yellow);
  border-color: var(--main-yellow);
  color: white;
  transition: background 0.5s ease;
}

.web_header.active .social-icons a{
  border: 2px solid var(--main-black);
}

.web_header.active .navMenu a{
  color: var(--main-black);
  font-weight: 500;
}

.web_header.active .navMenu a:hover{
  color: var(--main-yellow);
}

.back2top-btn {
  background-color: var(--main-yellow);
  width: 40px;           
  height: 40px;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  bottom: 30px;
  right: 30px;
  display: flex;
  justify-content: center;  
  align-items: center;  
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100px);
}

.back2top-btn.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.back2top-btn:hover {
  background-color: var(--main-yellow);
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.back2top-btn:active {
  transform: translateY(0);
}

.back2top-btn i {
  font-size: 18px;
  color: white;            
  margin: 0;
  padding: 0;
  line-height: 1;
}

.header_nav{
  cursor: pointer;
}

.userIcon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}

.userDropdown {
  position: relative;
  display: inline-block;
}

.isLoggedIn .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border-radius: 20px;
  min-width: 200px;
  z-index: 500;
  flex-direction: column;
  padding: 20px;         
}

.isLoggedIn .dropdown-content a {
  display: block;
  padding: 10px 15px;
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  border-radius: 20px;
  width: auto;
  height: auto;
  justify-content: space-between;
}

.isLoggedIn .dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 6px;
}

/*Show dropdown on hver*/
.isLoggedIn .userDropdown:hover .dropdown-content {
    display: block;
}
