*{
    font-family: 'Sofia Pro', Arial, sans-serif;
}

/*Header*/
.web_header {
    background: linear-gradient(135deg, #f7fbff, #e1edff, #ffffff);
    background-size: 800% 800%;
    animation: gradientShift 20s ease infinite;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1100; 
    color: #363c56;
    transition: transform 0.5s ease;
    margin-bottom: 30px;
    font-weight: 600;
}

/*Gradient animation*/
@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.apps_link{
    margin: 0;
    display: flex;
    align-items: center;
}

.apps_link .material-symbols-outlined:hover{
   transform: scale(1.10);
   cursor: pointer;
}

.apps_link .material-symbols-outlined{
    font-weight: 100;
    transition: transform 0.3s ease;
}

.apps_link .title{
    margin: 0;
    font-size: 16px;
}


.websiteName{
    text-align: left;
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 10px;
}

.userIcon{
    width: 35px;
    height: auto;
    transition: transform 0.3s ease; 
}

.notificationDropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 150px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  z-index: 10;
  border: 1px solid #ddd;
  border-radius: 6px;           
}

.dropdown-content a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #ddd;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 6px;
}

/*Show dropdown on hver*/
.notificationDropdown:hover .dropdown-content {
  display: block;
}

#bellIcon{
    font-size: 18px;
}


#web_logo:hover {
    transform: scale(1.05);
}

.userIcon:hover {
    transform: scale(1.05);
}

.navMenu {
    display: flex;
    gap: 10px;
}

.header_nav {
    padding: 10px;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
    white-space: nowrap; 
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 13px;
}
.header_nav:hover {
    color: #243E6D;
    transform: rotateX(360deg);
}

/*rspnd to window changes*/
@media (max-width: 768px) {
    .header_content {
        flex-direction: column;
        padding: 10px;
    }
    
    .navMenu {
        padding-top: 15px;
        gap: 10px;
    }
    
    #web_logo {
        width: 50px;
    }
}

@media (max-width: 480px) {
    .id_nav {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    #header_nav {
        padding: 5px;
        font-size: 14px;
    }
}






.DonateButton{
    margin-left: 20px;
    background-color: #24345d;
    color: white;
    padding: 8px 40px;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    position: contents;
    left: 300px;
}

.DonateButton:hover {
    transition: transform 0.5s ease;
    transform: scale(1.05);
    background-color: white;
    color: #001557;
}


